<!DOCTYPE html>
<html lang="es">
    <head>
    	<title>Amigos - Facebluff</title>
        <meta name="description" content="Facebluff">
        <meta charset ="utf-8"/>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link type="text/css" rel="stylesheet" href="css/questions.css">
        <link type="text/css" rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header>
            <img id="logo" src="img/logo.png" alt="Logo Facebluff"> 
            <div class="navbar">           
                <a href="/profile">Perfil</a>        
                <a href="/friends">Amigos</a>        
                <a class="active" href="#">Preguntas</a>        
                <a href="/logout">Desconectar</a>
                <a> <%= user.points%> puntos</a>
            </div>
        </header>
        <div id="content">
            <% if (questions.length === 0) { %>
                <h2>No hay suficientes preguntas disponibles en la base de datos. ¡Crea tus propias preguntas!</h2>
            <% } else { %>
                <h2>Preguntas seleccionadas aleatoriamente</h2>
                <% questions.forEach(question => { %> 
                    <a class="questions" href="/question?id=<%= question.id%>"> <%= question.text%></a>                         
                <% }) %>
            <% } %>
            <h2>¡Añade tus preguntas!</h2>
            <a id="newq" href="/newquestion">Crear nueva pregunta</a>    
        </div>
    </body>
</html>