<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Facebluff">
        <title>Bienvenido - Facepluff</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link href="../public/css/login.css" rel ="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <img id="logo" src="../public/img/logo.png" alt="Logo Facebluff"> 
            <div class="navbar">
                <a class="active" href="#">Entrar</a>
                <a href="signup.html">Nuevo Usuario</a>
            </div>
        </header>

        <div class="body2">
            <div id="title"><strong>Entrar</strong></div>
            <div class ="login">
                <form id="loginform" method="POST" action="/isUserCorrect">
                    <div class="container">
                        <label for="uname"><b>Email</b></label>
                        <input type="text" placeholder="Introduce el email" name="uname" required>
                    
                        <label for="psw"><b>Contraseña</b></label>
                        <input type="password" placeholder="Introduce la contraseña" name="psw" required>
                    
                        <button type="submit">Login</button>
                    </div>
                </form> 
            </div>
        </div>

        <footer>
            <p> 
                Ignacio Domingo 
            </p>
            <p>
                Alberto Fernández-Baíllo
            </p>  
        </footer>

    </body>
</html>
