<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Facebluff">
        <title>Perfil - Facepluff</title>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <link href="css/profile.css" rel ="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <img id="logo" src="img/logo.png" alt="Logo Facebluff"> 
            <div class="navbar">           
                <a class="active" href="#">Perfil</a>        
                <a href="friends.html">Amigos</a>        
                <a href="questions.html">Preguntas</a>        
                <a href="#">Desconectar</a>
                <a> 50 pts</a>
            </div>
        </header>
            <div id="content">
                    <h1>Tu perfil</h1>
                    <table id="displayProfile">
                        <tr>
                            <td rowspan="4" colspan="4">    
                                <img class="icon" src="img/cara.png" alt="profile picture"/></td>
                            <td class="data">El sonrisitas Rodríguez</td>
                        </tr>
                        <tr>
                            <td class="data">10/10/1990</td>
                        </tr>
                        <tr>
                            <td class="data">Hombre</td>
                        </tr>
                        <tr>
                            <td class="data">POINTS</td>
                        </tr>
                    </table>
                    <input class="profile_button" type="submit" value="Modificar Usuario">
            </div>
    </body>
</html>