<!DOCTYPE html>
<html lang="es">
    <head>
    	<title>Amigos - Facebluff</title>
        <meta name="description" content="Facebluff">
        <meta charset ="utf-8"/>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    	<link type="text/css" rel="stylesheet" href="css/questions.css">
    </head>
    <body>
        <header>
            <img id="logo" src="img/logo.png" alt="Logo Facebluff"> 
            <div class="navbar">           
                <a href="profile.html">Perfil</a>        
                <a href="friends.html">Amigos</a>        
                <a class="active" href="#">Preguntas</a>        
                <a href="#">Desconectar</a>
                <a> 50 pts</a>
            </div>
        </header>
        <div id="content">
            <h2>Preguntas seleccionadas aleatoriamente</h2>
            <button class="questions" type="submit">¿Cuál es la peor película de la historia?</button>
            <button class="questions" type="submit">¿En qué escuela primaria estudiaste?</button>
            <button class="questions" type="submit">¿Nintendo Switch, PS4 o XboxOne?</button>
            <button class="questions" type="submit">¿Concebollismo o sincebollismo? En el caso de ser sincebollista justifica tu retraso.</button>
            <h2>¡Añade tus preguntas!</h2>
            <button id="newq" type="submit">Crear nueva pregunta</button>
        </div>
        
    </body>
</html>