<!DOCTYPE html>
<html lang="es">
    <head>
    	<title>Amigos - Facebluff</title>
        <meta name="description" content="Facebluff">
        <meta charset ="utf-8"/>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    	<link type="text/css" rel="stylesheet" href="css/questions.css">
    </head>
    <body>
        <header>
            <img id="logo" src="img/logo.png" alt="Logo Facebluff"> 
            <div class="navbar">           
                <a href="profile.html">Perfil</a>        
                <a href="friends.html">Amigos</a>        
                <a class="active" href="#">Preguntas</a>        
                <a href="#">Desconectar</a>
                <a> 50 pts</a>
            </div>
        </header>
        <div id="content">
            <h2>¿Nintendo Switch, PS4, o Xbox One</h2>
            <ul>
                <li><input type="radio">Nintendo Switch</li>
                <li><input type="radio">PS4</li>
                <li><input type="radio">Xbox One</li>
                <li><input type="radio">No me interesan los videojuegos</li>
                <li><input type="radio"><input type="text" nombre="Otro" value=""></li>
            </ul>
            <button type="submit">Responder</button>
        </div>
        
    </body>
</html>