<!DOCTYPE html>
<html lang="es">
    <head>
    	<title>Resultados de búsqueda - Facebluff</title>
        <meta name="description" content="Facebluff">
        <meta charset ="utf-8"/>
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
    	<link type="text/css" rel="stylesheet" href="css/searchResults.css">
    </head>
    <body>
        <header>
            <img id="logo" src="img/logo.png" alt="Logo Facebluff"> 
            <div class="navbar">           
                <a href="profile.html">Perfil</a>        
                <a  class="active" href="#">Amigos</a>        
                <a href="questions.html">Preguntas</a>        
                <a href="#">Desconectar</a>
                <a> 50 pts</a>
            </div>
        </header>
        <div id="content">
            <h2 id="title">Resultados de búsqueda</h2>
            <table>
                <tr>
                    <td colspan="3">
                        <img class="icon_miniature" src="img/cara.png" alt="profile picture"/> <a class="friendsView" href="#"> YA ME FUNCIONA EL VERTICAL ALIGN </a> 
                    </td>
                    <td>
                            <input class="profile_button" type="submit" value="Enviar solicitud de amistad">
                    </td>
                </tr>
                <tr>
                        <td colspan="3">
                            <img class="icon_miniature" src="img/cara.png" alt="profile picture"/> <a class="friendsView" href="#"> Stuart minion </a> 
                        </td>
                        <td>
                            <input class="profile_button" type="submit" value="Enviar solicitud de amistad">
                        </td>
                    </tr>
            </table>
        </div>
    </body>
</html>